<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<script type="text/javascript" src="/assets/js/md5.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({

        // gitalk的主要参数
        clientID: '7c4dcf94e74e209d560a',
        clientSecret: '94bedbcc9e7666d73fb25c12b0506f60c0efa2c1',
        repo: 'https://github.com/songrise/gitalk-blog-comments',
        owner: 'songrise',
        admin: ['songrise'],
        id: md5(location.pathname),

    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->